{% extends "base_generic.html" %}

{% block content %}

<nav class="col-md-1 offset-md-3 d-none d-md-block sidebar pt-3" role="main" id="typenavbar">
  <div class="sidebar">
      <h5>Blog List</h5>
      {% for blog in blog_list %}
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link text-dark" href="#{{blog.id}}">
                  {{blog.title}}
                </a>
              </li>
            </ul>
      {% endfor %}
          </div>
  </nav>

<main class="col-md-8 ml-sm-auto col-lg-8 px-4 pt-3" role="main">
    {% for blog in blog_list %}
    <div class="col-md-7 pb-4">
      <div class="card flex-md-row mb-3 shadow-sm h-md-250 shadow" data-spy="scroll" data-target="typenavbar">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2" style="color:pink;" id="{{blog.id}}">{{blog.tag}}</strong>
          <h3 class="mb-0">
            <a class="text-dark">{{blog.title}}</a>
          </h3>
          <p class="card-text mb-auto pt-2">{{blog.summary}}</p>
          <p>{{blog.created}} by {{blog.userid}}</p>
          <a class="text-dark text-decoration-none" href="{{blog.get_absolute_url}}" >Continue Reading>></a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block"  alt="zhezhangtupianbujianle" style="width: 200px; height: 250px;" src="{{blog.listimage.url}}" >
      </div>
    </div>
  {% endfor %}
  </main>

{% endblock %}